version: .{build}
os: Visual Studio 2019
init:
  - ps: Update-AppveyorBuild -Version "$(Get-Date -format yyyy.M.d).$env:appveyor_build_number"
before_build:
- nuget restore src/Logazmic.sln
configuration:
  - Release
build:
  project: src/Logazmic.sln
  verbosity: normal
after_build:
  - ps: nuget/build-appveyor.ps1
artifacts:
  - path: nuget/Releases/*
branches:
  only: 
    - integration
skip_tags: true
deploy:
  tag: $(appveyor_build_version)
  release: Logazmic.Integration - $(appveyor_build_version)
  description: $(APPVEYOR_REPO_COMMIT_MESSAGE)
  provider: NuGet
  api_key:
    secure: qM2giZ/jAfZfWZCqrnLPw8Gii1tdfOR3qnk7p0Y7K1qg5tFLeVIFT4x5qyEe8mvi
  skip_symbols: false
  on:
    branch: integration
cache:
  - src/packages